
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

    
.main{
    background-image: url(iamge.jpg);
      background-position: center center;
      background-repeat: no-repeat;
    height: 70vh;
    position: relative;
background-size: max(1200px,100vw);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
body{
    background-color: black;
}


.main .box{
height: 70vh;
width: 100%;
opacity: 0.69;
background-color: black;
position: absolute;
top: 0;
justify-content: center;
align-items: center;
}
nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
nav img{
    position: relative;
    z-index: 10;
}
nav button{
position: relative;
z-index: 10;
}
.hero{
    height: calc(100% - 100px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
font-family: 'poppins' ,sans-serif;
    color: aliceblue;
    position: relative;
    gap: 23px;
    padding: 0 30px;

}
.hero> :nth-child(1){
    font-family: 'poppins',sans-serif;
    font-weight: bolder;
    font-size: 48px;
   text-align: center;
}
.hero :nth-child(2){
font-weight: 400;
font-size: 24px;
 text-align: center;
}
.hero :nth-child(3){
font-weight: 400;
font-size: 20px;
 text-align: center;
}

.btn{
background-color: rgba(128, 128, 128, 0.701);
padding: 3px 8px;
font-weight: 100;
color: white;
border-radius: 4px;
border: 1px solid white;
cursor: pointer;

}
.btn-red{
background-color: red;
color: white;
font-size: 20px;
border-radius: 4px;
padding: 3px 24px;
font-weight: 400;

}
.main input{
    background-color: rgba(23,23,23,0.7);
    font-size: 12px;
border-radius: 4px;
padding:  7px 101px 8px 14px;
font-weight: 900;
border: 1px solid rgba(246, 238, 238, 0.5);
color: white;

}
.btn-red-5m{
    background-color: red;
    color: white;
}
.hero-buttons{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 16px;
}
.speration{
    height: 7px ;
    background-color: rgba(128, 128, 128, 0.701);
    position: relative;
    z-index: 20;
}
.first{
   display: flex;
   justify-content: center;
   max-width: 70vw;
   margin: auto;
   color: white;
   align-items: center;


}

    
.secimg{
    position: relative;
}
.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;

}
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first > div:nth-child(1){
    font-size: 20px;
    font-weight: bolder;
}
section.first > div:nth-child(2){
    font-size: 10px;
 
  
}
.faq h2{
    text-align: center;
    font-size: 40px;
}
.faq{
background-color: black;
color: white;
padding: 34px;
font-size: 24px;
}
.faqbox:hover{

    background-color:#414141;
}

.faqbox{
    color: white;
    display: flex 1s ease-out;
    justify-content: space-between;
    background-color:#2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin:  34px auto;
    cursor: pointer;
        transition: all;
    
}
footer{
    color: white;
    margin: auto;
max-width: 60vw;
padding:14px;}
@media screen and (max-width:1300px){
 
    .first{
        flex-wrap: wrap;
    }
    secimg img{
    width: 305px;
}
}

@media screen and (max-width:1300px){
   footer{
   display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

   
}
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
   
   
    
}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
footer.questions{
    padding: 34px 0;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}